<!-- classifica.html -->
{% extends 'core/base.html' %}
{% block title %}Selezione Eventi{% endblock %}
{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-300 rounded-xl">
    <h1 class="mb-6 text-3xl">Classifica</h1>
            <p class="mb-4">Al termine del momento dedicato agli invii durante il matrimonio qui apparirà la classifica finale.</p>

   <table>
        <thead>
            <tr>
                <th>Nome Squadra</th>
                <th>Punti</th>
            </tr>
        </thead>
        <tbody>
            {% for squadra in squadre %}
            <tr>
                <td>{{ squadra.nome }}</td>
                <td>{{ squadra.total_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}