{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h2 class="mb-12 text-2xl text-center">Contact page</h2>
    <p class="text-justify">
        Aliquam aliquam justo vulputate nisi efficitur, eu lobortis nunc facilisis. Vivamus non aliquam neque, a venenatis ex. In lectus leo, volutpat a sapien ut, venenatis sollicitudin leo. Praesent vestibulum efficitur iaculis. Nullam vitae egestas diam. Maecenas at faucibus mi, non mattis magna. Duis eget risus pellentesque, venenatis libero a, efficitur tortor. Nam in quam ac nibh dapibus finibus sit amet vel metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus justo, viverra sed tincidunt ac, ornare ultricies urna. Sed in congue nunc, id blandit sapien.
    </p>
{% endblock %}