<!-- fantamatrimonio.html -->
{% extends 'core/base.html' %}
{% block title %}Fantamatrimonio{% endblock %}
{% block content %}
<div class="w-full max-w-2xl my-6 mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="mb-6 text-3xl font-bold text-gray-800">Fantamatrimonio</h1>
    <p class="mb-4 text-gray-700">Ci sarà un momento del ricevimento dedicato a spuntare gli eventi compiuti dalla vostra squadra. Non vi preoccupate, se avete fatto nuovi punti potrete rinviare il form con tutti gli eventi compiuti.</p>
    <p class="mb-4 text-gray-700">N.B. gli eventi che possono essere compiuti da [SINGOLI] o [A SQUADRA] sono preceduti da nota numerata. Questi vanno selezionati una sola volta in una delle due opzioni. La mia squadra ha compiuto il primo evento da singolo e il secondo evento da squadra</p>
    <p class="mb-4 text-gray-700">Es. <br/>[X] (1) [SINGOLO] Primo evento da spuntare<br/>[_] (1) [A SQUADRA] Primo evento da spuntare <br/>[_] (2) [SINGOLO] Secondo evento da spuntare <br/>[X] (2) [A SQUADRA] Secondo evento da spuntare</p>

    <form method="post">
        {% csrf_token %}
        <div class="mb-4">
            {{ squadra_form.nome.label_tag }}
            {{ squadra_form.nome }}
        </div>
        <div class="mb-4">
            {{ azione_form.azioni_esclusive.label_tag }}
            {{ azione_form.azioni_esclusive }}
        </div>
        <div class="mb-4">
            {{ azione_form.azioni.label_tag }}
            {{ azione_form.azioni }}
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Invia</button>
    </form>
</div>

{% endblock %}