<!-- fantamatrimonio.html -->
{% extends 'core/base.html' %}
{% block title %}Selezione Eventi{% endblock %}
{% block content %}
<div class="w-full max-w-2xl my-6 mx-auto p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="mb-6 text-3xl font-bold text-gray-800">Selezione degli eventi Fantamatrimonio</h1>
    <p class="mb-4 text-gray-700">In questa pagina apparirà il form per inviare il nome della squadra e le azioni compiute. Il sistema calcolerà allora il punteggio nella pagina "Classifica".</p>
<!--
   <form method="post" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-2">
            {{ squadra_form.as_p }}
        </div>
        <div class="space-y-2">
            {% for checkbox in azione_form.azioni %}
                <div class="flex items-center">
                    <label class="flex items-center space-x-2 text-gray-700">
                        {{ checkbox.tag }}
                        <span>{{ checkbox.choice_label }}</span>
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="px-6 py-3 text-white bg-teal-600 hover:bg-teal-700 rounded-lg font-semibold">Invia</button>
    </form>
    -->
</div>

{% endblock %}