{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">

        <h2 class="mb-12 text-2xl text-center">Regolamento FantaMatrimonio</h2>
        <p class="mb-4">Benvenuti! Siete pronti a festeggiare al massimo Matilde e Tommaso, disseminando nel frattempo disagio e imbarazzo al matrimonio più atteso dell'anno? Il modo per farlo è molto semplice: incanalate tutto il vostro entusiasmo e il vostro spirito competitivo nel FantaMatrimonio!</p>

        <ol class="list-decimal ml-6">
            <li class="mb-4">
                <strong>Scegliete se iscrivere la vostra squadra al "team Matina" o al "team Tommins":</strong> ciascuno dei team riceverà punti bonus o malus aggiuntivi in base a cosa faranno gli sposi. Per fare una scelta informata, trovate l'elenco completo di bonus e malus nella tabella allegata (Allegato 1).
                <div class="ml-4 mt-2 text-red-600">Attenzione: sarà sufficiente al momento dedicato durante il ricevimento inserire il nome della squadra e le azioni compiute per calcolare il punteggio e comparire nella classifica finale. Non vi preoccupate, se avete fatto nuovi punti potrete rinviare il form con tutti gli eventi compiuti.</div>
            </li>
            <li class="mb-4">
                <strong>Ovviamente, non dite nulla agli sposi!</strong> Sanno dell'iniziativa e la approvano, ma non hanno idea delle specifiche: per evitare che certi accadimenti siano troppo pilotati o non producano l'effetto sorpresa sperato, dobbiamo fare in modo che rimanga così.
            </li>
            <li class="mb-4">
                <strong>Controllate l'elenco dei bonus e dei malus,</strong> e preparatevi ad accumulare più bonus possibile e a cercare di evitare i malus.
            </li>
            <li class="mb-4">
                <strong>Dal 6 giugno inizia la gara:</strong> iniziate ad accumulare punti bonus (e malus) secondo l'elenco che trovate nelle tabelle allegate (Allegato 2), registrando gli eventi compiuti il giorno del matrimonio compilando il form nell'apposita pagina del sito.
                <div class="ml-4 mt-2 text-red-600">Attenzione: tutte le azioni compiute prima del 6 di giugno non saranno valide per l’accumulo di punti.</div>
                Per aggiornare i vostri progressi al momento della compilazione del form di invio dovrete spuntare le apposite caselle, avendo cura di documentare gli eventi con foto e video da caricare a momento opportuno sulla cartella Google Drive del matrimonio accessibile dal QR Code per far avere agli sposi un ricordo di tutto questo. È obbligatorio segnalare anche i propri punti malus, mi raccomando!
            </li>
            <li class="mb-4">
                <strong>Scoprirete se avete vinto il giorno del matrimonio nel momento dedicato al ricevimento!</strong> Durante la festa sarà infatti previsto un momento per aggiornare definitivamente la classifica, così da definire e calcolare la classifica definitiva che svelerà la squadra vincente. I vincitori riceveranno in premio la gloria eterna da parte degli sposi e l’onore di aggiungere una foto con gli sposi all'album del matrimonio da vincitori del gioco che ha animato il loro matrimonio.
            </li>
        </ol>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Allegato 1: punti dei team</h2>
        <table class="table-auto w-full bg-white rounded-xl">
            <thead>
                <tr>
                    <th class="px-4 py-2" colspan="2">Team Matina</th>
                    <th class="px-4 py-2" colspan="2">Team Tommins</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100"><b>Bonus (+5 punti)</b></td>
                    <td class="border px-4 py-2 bg-pink-100"><b>Malus (-5 punti)</b></td>
                    <td class="border px-4 py-2 bg-blue-100"><b>Bonus (+5 punti)</b></td>
                    <td class="border px-4 py-2 bg-blue-100"><b>Malus (-5 punti)</b></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">C'è un dolce al cioccolato come dessert</td>
                    <td class="border px-4 py-2 bg-pink-100">La Mati si macchia il vestito mangiando o bevendo</td>
                    <td class="border px-4 py-2 bg-blue-100">Tommi canta l'inno della Fiorentina</td>
                    <td class="border px-4 py-2 bg-blue-100">C'è un dolce al cioccolato come dessert</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">La Mati partecipa ad un ballo di gruppo</td>
                    <td class="border px-4 py-2 bg-pink-100">La Mati sta scalza</td>
                    <td class="border px-4 py-2 bg-blue-100">Tommi sta scalzo</td>
                    <td class="border px-4 py-2 bg-blue-100">Tommi si toglie la giacca in chiesa</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">C'è il chirashi nel menù</td>
                    <td class="border px-4 py-2 bg-pink-100">La Mati si commuove in modo evidente</td>
                    <td class="border px-4 py-2 bg-blue-100">Tommi si commuove in modo evidente</td>
                    <td class="border px-4 py-2 bg-blue-100">La Mati partecipa ad un ballo di gruppo senza Tommi</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">Il Vigno (babbo della sposa) si commuove in modo evidente</td>
                    <td class="border px-4 py-2 bg-pink-100">La Mati non riesce a stappare lo spumante</td>
                    <td class="border px-4 py-2 bg-blue-100">Il Vigno (babbo della sposa) balla con Tommi</td>
                    <td class="border px-4 py-2 bg-blue-100">La Mati viene male in una foto e chiede in modo plateale di rifarla</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">Il Team Matina ha più iscritti del Team Tommins</td>
                    <td class="border px-4 py-2 bg-pink-100">Il Team Tommins ha più iscritti del Team Matina</td>
                    <td class="border px-4 py-2 bg-blue-100">Il Team Tommins ha più iscritti del Team Matina</td>
                    <td class="border px-4 py-2 bg-blue-100">Il Team Matina ha più iscritti del Team Tommins</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">Qualcuno regala alla Mati un volpino di peluche</td>
                    <td class="border px-4 py-2 bg-pink-100">Qualcuno regala un volpino di peluche a un over 50</td>
                    <td class="border px-4 py-2 bg-blue-100">Qualcuno regala un volpino di peluche a un over 50</td>
                    <td class="border px-4 py-2 bg-blue-100">Qualcuno regala alla Mati un volpino di peluche</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">Durante la Messa, don Renzo dà la pace prima alla Mati che a Tommi</td>
                    <td class="border px-4 py-2 bg-pink-100">La Mati inciampa sui tacchi</td>
                    <td class="border px-4 py-2 bg-blue-100">Durante la Messa, don Renzo dà la pace prima a Tommi che alla Mati</td>
                    <td class="border px-4 py-2 bg-blue-100">Gli anelli non si sfilano dal contenitore al momento dello scambio</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">I testimoni della sposa non sono in divisa da ferrovieri</td>
                    <td class="border px-4 py-2 bg-pink-100">Il bouquet cade</td>
                    <td class="border px-4 py-2 bg-blue-100">I testimoni della sposa sono in divisa da ferrovieri</td>
                    <td class="border px-4 py-2 bg-blue-100">Chi li deve portare si dimentica gli anelli</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2 bg-pink-100">La Mati guida un ballo di gruppo spiegando i passi</td>
                    <td class="border px-4 py-2 bg-pink-100">Gli anelli non si sfilano dal contenitore al momento dello scambio</td>
                    <td class="border px-4 py-2 bg-blue-100">La prima canzone al ricevimento è una canzone di Vasco</td>
                    <td class="border px-4 py-2 bg-blue-100">Il bouquet cade</td>
                </tr>
            </tbody>
        </table>
         <p class="mb-4"><strong><br>@ Qualcuno regala un volpino di peluche a un over 50:</strong> se il giocatore a compiere l'azione è over 50, i punti bonus o malus si applicano solo se il peluche viene regalato a un under 30.</p>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Allegato 2: tabelle dei punti Bonus e Malus</h2>
        <div class="mb-6">
            <h3 class="mb-3 text-xl font-bold">Regole generali</h3>
            <p class="mb-3">I punti bonus o malus legati ad una singola azione possono essere riscossi una sola volta per squadra. I punti contrassegnati dal simbolo * richiedono delle foto.</p>
            <p class="mb-3">Il simbolo # contrassegna i punti (bonus o malus) che vengono raddoppiati se tutti i membri della squadra compiono l'azione indicata.</p>
        </div>
        <div>
            <h3 class="mb-3 text-xl font-bold">Eccezioni e casi particolari</h3>
            <p class="mb-3">Attenzione! I punti contrassegnati dal simbolo @ sono soggetti a regole particolari, specificate nelle tabelle.</p>
        </div>

        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-6 text-2xl text-center">Tabella dei Bonus</h2>
            <table class="table-auto w-full bg-white rounded-xl">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-red-600" colspan="3">Prima del matrimonio (per festeggiare al massimo senza mettere in difficoltà nessuno, cerchiamo di evitare i giorni proprio a ridosso del 6 luglio)</th>
                    </tr>
                    <tr>
                        <th class="px-4 py-2">Azione</th>
                        <th class="px-4 py-2">Punti</th>
                        <th class="px-4 py-2">Regole speciali</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">Presentarsi a cena, non invitati, nella nuova casa della Mati e Tommi vestiti da pirata (ma portando la cena)</td>
                        <td class="border px-4 py-2">10</td>
                        <td class="border px-4 py-2">#</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Proporre un brindisi agli sposi, del tutto fuori contesto, durante un pasto qualsiasi con Matilde e Tommaso</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2">#</td>
                    </tr>
                    <!-- Aggiungi altre righe per gli altri bonus -->
                    <tr>
                        <td class="border px-4 py-2">Regalare un kinder sorpresa alla Mati</td>
                        <td class="border px-4 py-2">10</td>
                        <td class="border px-4 py-2"></td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Regalare a Matilde e Tommaso un regalo personalizzato con foto di ciascun membro della squadra (calendario, palla di neve, quadro, qualsiasi cosa vale!)</td>
                        <td class="border px-4 py-2">10</td>
                        <td class="border px-4 py-2">@ Se fatto a mano il regalo varrà 2 punti in più (per un totale di 12 punti).</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Postare su un social una foto con la partecipazione, taggando gli sposi</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2">#</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Pubblicare un post sui social per ricordare quanti giorni mancano al matrimonio e taggare gli sposi</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2">@ i video valgono 5 punti in più rispetto alle foto (per un totale di 10 punti).</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Regalare un pacchetto di liquirizie a Tommi</td>
                        <td class="border px-4 py-2">10</td>
                        <td class="border px-4 py-2"></td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Consegnare una cartolina o un biglietto di auguri agli sposi</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2">@ se la cartolina o il biglietto è spedita per posta e arriva a casa degli sposi prima del giorno del matrimonio i punti raddoppiano (per un totale di 10 punti).</td>
                    </tr>
                    <tr>
                        <th class="px-4 py-2 text-red-600" colspan="3">Il giorno del matrimonio</th>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Farsi una foto con Tommi ma non con la Mati</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2"># * @  se Tommi è l'unico maschio nella foto si ottengono 2 punti aggiuntivi (per un totale di 7 punti).</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Farsi una foto con uno o più dei genitori degli sposi</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2"># *</td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Farsi una foto in cui siano presenti almeno due dei testimoni</td>
                        <td class="border px-4 py-2">5</td>
                        <td class="border px-4 py-2"># @ se sono presenti tutti i quattro testimoni la foto vale doppio.</td>
                    </tr>
                    <tr>
                    <td class="border px-4 py-2">Farsi una foto di nascosto con un pelato</td>
                    <td class="border px-4 py-2">5</td>
                    <td class="border px-4 py-2"># @ quest'azione può essere ripetuta, e dunque dare punti più volte, purché la persona pelata sia differente in ogni foto.</td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">Farsi una foto insieme agli sposi indossando una maglietta dell'Azione Cattolica o di Vasco Rossi</td>
                    <td class="border px-4 py-2">5</td>
                    <td class="border px-4 py-2">#</td>
                </tr>
                <tr>
    <td class="border px-4 py-2">Farsi una foto da soli con Tommi</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">@ +5 punti se Tommi viene male.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Farsi una foto con il fotografo</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">#</td>
</tr>
<tr>
    <td class="border px-4 py-2">Ballare un lento con Tommi</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Ballare un lento con la Mati</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Partecipare ad un ballo di gruppo (ballando in modo corretto: non vale, per ottenere questi punti, ballare la macarena su una canzone diversa)</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2">#</td>
</tr>
<tr>
    <td class="border px-4 py-2">Invitare a ballare un over 50</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">*</td>
</tr>
<tr>
    <td class="border px-4 py-2">Ballare la macarena su una canzone che non è la macarena, ma che non ha evidentemente un suo ballo.</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2">#</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare una bandiera della fiorentina o una bandiera comunista al ricevimento</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">@ i punti bonus saranno ottenuti solo se la bandiera è discreta (dimensioni non superiori a 20 x 15 cm), e se la sua presenza non distoglie troppo l'attenzione dai festeggiamenti.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Prendere una multa (presa in diretta, o perché lasciata sull’auto o perché si è stati fermati. Non valgono, ovviamente, quelle da autovelox) o subire la rimozione dell'auto il giorno del matrimonio</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Festeggiare il compleanno durante il ricevimento (con torta, candeline e canzone di auguri)</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Prendere al volo il bouquet</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Proporre platealmente un brindisi agli sposi (attirando l'attenzione di tutti) durante il ricevimento</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2">Attenzione! Proporre più di un brindisi per squadra comporta l’assegnazione di 10 punti malus.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Proporre platealmente un brindisi agli sposi (attirando l'attenzione di tutti) durante il ricevimento e il discorso commuove visibilmente uno degli sposi.</td>
    <td class="border px-4 py-2">4</td>
    <td class="border px-4 py-2">Attenzione! Proporre più di un brindisi per squadra comporta l’assegnazione di 10 punti malus.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Proporre platealmente un brindisi agli sposi (attirando l'attenzione di tutti) durante il ricevimento inserendo e usando in maniera sensata la parola “carciofi”.</td>
    <td class="border px-4 py-2">4</td>
    <td class="border px-4 py-2">Attenzione! Proporre più di un brindisi per squadra comporta l’assegnazione di 10 punti malus.</td>
</tr>
                <tr>
    <td class="border px-4 py-2">Proporre platealmente un brindisi agli sposi (attirando l'attenzione di tutti) durante il ricevimento inserendo e usando in maniera sensata la parola “teologia”.</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">Attenzione! Proporre più di un brindisi per squadra comporta l’assegnazione di 10 punti malus.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Proporre platealmente un brindisi agli sposi (attirando l'attenzione di tutti) durante il ricevimento. Il discorso è in rima.</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">Attenzione! Proporre più di un brindisi per squadra comporta l’assegnazione di 10 punti malus.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Far indossare a Tommaso una maglia della Juve</td>
    <td class="border px-4 py-2">50</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un riccio vero</td>
    <td class="border px-4 py-2">50</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un riccio per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati. Attenzione! Tenere un riccio vero al ricevimento per più di mezz'ora comporta l'assegnazione di 60 punti malus (per favore, non maltrattiamo i ricci).</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un riccio di peluche</td>
    <td class="border px-4 py-2">20</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un riccio per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un riccio finto (disegnato, stampato, origami, tatuato, ricamato all'uncinetto, raffigurato su un gioiello)</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un riccio per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un volpino vero</td>
    <td class="border px-4 py-2">100</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un volpino per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati. Attenzione! Tenere un volpino vero al ricevimento per più di mezz'ora comporta l'assegnazione di 85 punti malus.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un volpino peluche</td>
    <td class="border px-4 py-2">20</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un volpino per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare al ricevimento un volpino finto (disegnato, stampato, origami, tatuato, ricamato all'uncinetto, raffigurato su un gioiello)</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">Ciascuna squadra può portare fino a un volpino per tipo (cioè al massimo uno vero, uno di peluche e uno disegnato): i punti così ottenuti saranno sommati.</td>
</tr>
                </tbody>
            </table>

                        <h2 class="mb-6 text-2xl text-center"><br><br>Tabella dei Malus</h2>
            <table class="table-auto w-full bg-white rounded-xl">
    <thead>
    <tr>
                        <th class="px-4 py-2 text-red-600" colspan="3">Prima del matrimonio (per festeggiare al massimo senza mettere in difficoltà nessuno, cerchiamo di evitare i giorni proprio a ridosso del 6 luglio)</th>
                    </tr>
        <tr>
            <th class="border px-4 py-2">Azione</th>
            <th class="border px-4 py-2">Punti</th>
            <th class="border px-4 py-2">Regole speciali</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="border px-4 py-2">Presentarsi a cena, non invitati, nella nuova casa della Mati e Tommi, non vestiti da pirata o non portando la cena</td>
            <td class="border px-4 py-2">10</td>
            <td class="border px-4 py-2">#</td>
        </tr>
        <tr>
            <td class="border px-4 py-2">Regalare un kinder sorpresa a Tommi (anche se Tommi deve solo portarlo a Matilde da parte vostra).</td>
            <td class="border px-4 py-2">10</td>
            <td class="border px-4 py-2"></td>
        </tr>
        <tr>
            <td class="border px-4 py-2">Rivelare alla Mati e/o a Tommi dove andranno per l'addio al nubilato/celibato</td>
            <td class="border px-4 py-2">20</td>
            <td class="border px-4 py-2">@ se la Mati e/o Tommi scoprono dove andranno per l'addio al nubilato/celibato la squadra di cui fa parte Matteo Nesi perderà 5 punti aggiuntivi, anche se non è direttamente responsabile dell'accaduto.</td>
        </tr>
        <tr>
    <td class="border px-4 py-2">Regalare a Matilde e Tommaso un regalo personalizzato non gradito dalla Matilde</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Compiere reati durante gli addii al celibato/nubilato</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Regalare un pacchetto di liquirizie alla Mati (anche se la Mati deve solo portarlo a Tommi da parte vostra)</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
        <!-- Other rows here -->
        <!-- More rows if needed -->
    <tr>
                        <th class="px-4 py-2 text-red-600" colspan="3">Il giorno del matrimonio</th>
                    </tr>
     <tr>
    <td class="border px-4 py-2">Portare un animale in chiesa (volpini compresi)</td>
    <td class="border px-4 py-2">Da 15 a 25</td>
    <td class="border px-4 py-2">@ Un qualsiasi animale in chiesa fa perdere 15 punti. Un cane che non è un volpino fa perdere 10 punti aggiuntivi.</td>
</tr>
<tr>
    <td class="border px-4 py-2">Interrompere la cerimonia</td>
    <td class="border px-4 py-2">15</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Arrivare in ritardo in chiesa</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare una bandiera comunista in chiesa</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Pestare il vestito della sposa</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Presentarsi al matrimonio (o al ricevimento) vestiti da pirata o con una maglia della Juve</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Mangiare al Circolo se si è invitati al ricevimento (bevande e gelato esclusi).</td>
    <td class="border px-4 py-2">2</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Rompere stoviglie al ricevimento</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Essere vestiti di bianco (camicie e t-shirt escluse)</td>
    <td class="border px-4 py-2">20</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Proporre platealmente più di un brindisi per squadra</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Tenere un volpino vero al ricevimento per più di mezz'ora</td>
    <td class="border px-4 py-2">85</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Tenere un riccio vero al ricevimento per più di mezz'ora</td>
    <td class="border px-4 py-2">60</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Diventare molesti quando vistosamente ubriachi</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Evitare di ballare per tutta la festa</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2">#</td>
</tr>
<tr>
    <td class="border px-4 py-2">Macchiare di vino gli abiti di un’altra persona</td>
    <td class="border px-4 py-2">5</td>
    <td class="border px-4 py-2">*</td>
</tr>
<tr>
    <td class="border px-4 py-2">Portare una bandiera della fiorentina o una bandiera comunista al ricevimento di dimensioni superiori a 20x15 cm e considerate esagerate dal giudizio insindacabile della sposa.</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Durante il brindisi agli sposi della vostra squadra qualcuno urla: “Voce!”</td>
    <td class="border px-4 py-2">3</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">Nel brindisi agli sposi della vostra squadra viene usata la parola “FantaMatrimonio”</td>
    <td class="border px-4 py-2">4</td>
    <td class="border px-4 py-2"></td>
</tr>
<tr>
    <td class="border px-4 py-2">La vostra squadra propone più di un brindisi durante il ricevimento</td>
    <td class="border px-4 py-2">10</td>
    <td class="border px-4 py-2"></td>
</tr>

    </tbody>
</table>


        </div>


    </div>

        <!-- <h2 class="mb-12 text-2xl text-center">Newest items</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-t-xl">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h3 class="text-2xl">{{ item.name }}</h3>
                            <p class="mt-2 text-xl">Price: {{ item.price }}€</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Categories</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h3 class="text-2xl">{{ category.name }}</h3>
                            <p class="text-gray-500">{{ category.items.count }} items</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>-->
    </div>
{% endblock %}