{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">

        <h2 class="mb-12 text-2xl text-center">Privacy page</h2>
        <p class="text-justify">
            Non raccogliamo dati sensibili. Questo è un progetto amatoriale.
        </p>
        <p class="text-justify">
            Donec rutrum ex ac magna dignissim consequat. Nulla neque quam, suscipit vestibulum est a, tempor egestas lectus. Mauris ut ultricies dolor. Aliquam lacinia tempor nibh, tincidunt malesuada urna porta ut. Maecenas consequat faucibus eros in luctus. Vestibulum purus dui, fermentum sed tincidunt et, sagittis a libero. Ut in facilisis mi. Morbi non mollis risus. Phasellus et aliquam quam, sit amet semper dolor. Aliquam enim dolor, faucibus ut ipsum eu, vestibulum ornare elit. Suspendisse in erat dignissim, imperdiet odio placerat, pretium dolor. Aenean ut risus ut metus sollicitudin efficitur. Nunc feugiat gravida erat, et sagittis mi dapibus ultrices.
        </p>

    </div>
{% endblock %}