{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">

        <h2 class="mb-12 text-2xl text-center">Terms page</h2>
        <p class="text-justify">
             Mauris orci tortor, maximus elementum tempor at, consectetur vitae purus. Nulla et volutpat massa. Morbi vitae aliquet dolor. Ut tristique nulla et eros vehicula, scelerisque suscipit velit ultrices. Sed arcu quam, rhoncus ac viverra a, laoreet id urna. Aliquam eget facilisis justo, quis ullamcorper sem. Praesent convallis ligula erat, ut vehicula risus porta id. Pellentesque eget feugiat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacus tortor, suscipit nec felis eget, finibus rutrum nibh. Mauris ut lectus sed dolor molestie porttitor eu eu lectus. Aenean malesuada, turpis eget elementum hendrerit, elit magna facilisis odio, eu gravida ex lacus nec arcu.
        </p>

    </div>
{% endblock %}